{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="/strumenti/foiapop" >Chiedi al tuo comune</a> 
    <a class="button secondary big" target="_blank" href="http://partecipa.confiscatibene.it" >Partecipa</a>
    <a class="button outline big" target="_blank" href="http://crowd.ondata.it/project/category/confiscatibene/" >Collabora con noi</a>
    <a class="button primary big" href="/strumenti/cercadecreti" >Cerca nei decreti</a>
    <p>Strumenti per Confiscati Bene 2</p>
  </div>

</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}