{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main"}}
<div class="push-center" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <div id="hero">
        <h1 itemprop="headline">  {{.Title}}</h1>
        {{ if .Description }}
        <blockquote itemprop="description">{{ .Description }}</blockquote>
        {{ end }}
        <time class="post-time">{{ partial "post/meta" . }}</time>
    </div>
    <div id="post-box">
        <div id="post" itemprop="articleBody">
            
            {{.Content | safeHTML}}
            
            <div id="DC-search-projectid-31125-decreti-openregio" class="DC-embed DC-embed-search DC-search-container"></div>
            <script src="//assets.documentcloud.org/embed/loader.js"></script>
            <script>
                dc.embed.load('https://www.documentcloud.org/search/embed/', {
                    q: "projectid: \"31125-decreti-OpenRegio\"",
                    container: "#DC-search-projectid-31125-decreti-openregio",
                    title: "inserisci una o più parole chiave",
                    order: "created_at",
                    per_page: 12,
                    search_bar: true,
                    organization: 2063
                });
            </script>
            <noscript>
                <a href="https://www.documentcloud.org/public/search/projectid%3A%20%5C%2231125-decreti-OpenRegio%5C%22">View/search document collection</a>
            </noscript>
            
            
        </div>
        
        
        
        <div class="">
            {{ partial "post/byauthor" . }}
            {{ partial "post/related-content" . }}
        </div>
        
        {{ if .Site.DisqusShortname }}
        <article>
            {{ template "_internal/disqus.html" . }}
        </article>
        {{ end }}
        
    </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}