{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main"}}
<div class="push-center" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <div id="hero">
        <h1 itemprop="headline">  {{.Title}}</h1>
        {{ if .Description }}
        <blockquote itemprop="description">{{ .Description }}</blockquote>
        {{ end }}
        <time class="post-time">{{ partial "post/meta" . }}</time>
    </div>
    <div id="post-box">
        <div id="post" itemprop="articleBody">
            
            {{.Content | safeHTML}}
            
            <br>
            <form>
                <select name="ipa">
                    <option selected>Seleziona il Comune</option>
                    {{ $url := "/data/comuniCbFOIAPop.csv" }}
                    {{ $sep := "," }}
                    {{ range $i, $r := getCSV $sep $url }}
                    <option value="{{ index $r 2 }}">
                        {{ index $r 0 }}
                    {{ end }}
                    </select>
                </form>
                <a class="foia " target="_blank" id="foia" href="">
                    <button type="button" class="btn btn-primary">CREA RICHIESTA</button>
                </a>
                <br>
                <small>Servizio fornito da <a href="http://www.foiapop.it" target="_blank"> FOIAPop</a></small>
                
                <script src="//code.jquery.com/jquery-1.12.3.js"></script>
                
                <script defer="defer">
                    $('select').on('change', function() {
                        href = 'http://www.foiapop.it/api/accesso-civico-generalizzato?cf=&richiesta=(1)%20l%27elenco%20aggiornato%20dei%20beni%20confiscati%20contenente%20i%20dati%20di%20cui%20all%27art.%2048%20comma%203%20lett.%20c)%20del%20Dlgs.%20159%2F2011%20cio%C3%A8%20%E2%80%9Cla%20consistenza%2Cla%20destinazione%20e%20l%27utilizzazione%20dei%20beni%20nonch%C3%A9%2C%20in%20caso%20di%20assegnazione%20a%20terzi%2C%20i%20dati%20identificativi%20del%20concessionario%20e%20gli%20estremi%2C%20l%27oggetto%20e%20la%20durata%20dell%27atto%20di%20concessione%E2%80%9D%3B%20(2)%20la%20contestuale%20pubblicazione%20di%20tale%20elenco%20aggiornato%20nella%20sezione%20Amministrazione%20Trasparente%2FBeni%20immobili%20e%20gestione%20patrimonio%2FPatrimonio%20immobiliare%20ritenendo%20tale%20adempimento%20un%20obbligo%20ai%20sensi%20dell%27art.%2030%20del%20D.%20Lgs.%2033%2F2013.'
                        newhref = href.replace('cf=','cf='+ this.value);
                        $('.foia').attr('href', newhref);
                    })
                </script>
                
            </div>
            
            
            
            <div class="">
                {{ partial "post/byauthor" . }}
                {{ partial "post/related-content" . }}
            </div>
            
            {{ if .Site.DisqusShortname }}
            <article>
                {{ template "_internal/disqus.html" . }}
            </article>
            {{ end }}
            
        </div>
    </div>
    {{ end }}
    {{ define "footer"}} {{ partial "footer.html" .}} {{ end }}