<span class="icon">
  <i class="fa fa-clock-o" aria-hidden="true"></i>
</span>
<!--<span>{{ .ReadingTime }} minute read</span>-->
<span class="icon">
 <i class="fa fa-pencil" aria-hidden="true"></i>
</span>

